MAX_DURATION_SECONDS=1200
INFO_CONCURRENCY=4
DOWNLOAD_CONCURRENCY=2
RATE_LIMIT_REQUESTS=30
RATE_LIMIT_WINDOW_SECONDS=60
PREPARED_TTL_SECONDS=300
MAX_IMAGE_ITEMS=35
MAX_IMAGE_BYTES=26214400
MAX_IMAGE_TOTAL_BYTES=125829120
YTDLP_SOCKET_TIMEOUT=20
YTDLP_RETRIES=3
YTDLP_FRAGMENT_RETRIES=3
ENABLE_DOCS=0
